.cover-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -44px;

  .bg-item {
    position: absolute;
    left: 0;
    top: 0;
  }

  .wrapper {
    align-items: flex-start;
    min-width: 80vw;
    z-index: 9;
    width: auto;
  }

  .name {
    color: #999;
    font-size: 16px;
  }

  h1 {
    margin: 0;
    span {
    }
  }

  p {
    width: 35%;
    max-width: 400px;
    padding-top: 40px;
    padding-bottom: 16px;
    font-size: 12px;
  }

  .icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(to bottom right, #2768cc, #56c3a5);
  }
}

@media only screen and (max-width: 767px) {
  .cover-container {
    p {
      width: 100%;
      padding-top: 16px;
    }

    .icon-item {
      position: absolute;
      left: 50%;
      bottom: 64px;
      margin-left: -20px;
      animation: start 1.5s infinite ease-in-out;
    }
  }
}
