body
  .ant-modal-footer
    .ant-btn
      @extend .button-primary
  .ant-btn
    border-radius: 0
    border-color: transparent

@media (max-width: $global-width.break-point-c - 1)
  body
    .ant-modal
      margin: 0