html,
body {
  width: 100%
  height: 100%
  min-height: 100%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body
  position: relative
  font-size: 14px
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  font-weight: 200
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-text-size-adjust: 100%
  letter-spacing: .3px
  color: $global-color.default-dark
  h1
    line-height: 1
    margin-bottom: 0

  h2
    font-size: 32px


  p
    text-align: justify
    word-break: normal
    margin-bottom: 0

  a
    color: $global-color.primary
    transition: all .2s ease-in-out
    &:hover {
      color: $global-color.secondary
      text-decoration: underline
    }

[lang]:lang(en)
  h1
    font-size: 40px
    font-weight: bold

[lang]:lang(ja)
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  h1
    font-size: 64px
    letter-spacing: 2px

[lang]:lang(zh)
  font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif

input, button {
  outline none;
}

#root {
  height: 100%
}

.body-container {
  width: 100%
  height: 100%
  min-height: 100%
}

@media (max-width: $global-width.break-point-b)
  [lang]:lang(en)
    h1
      font-size: 32px

  [lang]:lang(ja)
    h1
      font-size: 56px

@media (max-width: $global-width.break-point-c)
  [lang]:lang(en)
    h1
      font-size: 28px

  [lang]:lang(ja)
    h1
      font-size: 40px


