html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  font-size: 14px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  color: map-get($global-color, secondary);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  letter-spacing: .3px;
}

[lang]:lang(zh) {
  font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

[lang]:lang(ja) {
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#root {
  height: 100%;
}

.body-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}




