.flex-center-both
  display: flex
  align-items: center
  justify-content: center

.flex-end
  display: flex
  align-items: center
  justify-content: flex-end

.flex-end-row
  display: flex
  align-items: flex-end
  justify-content: center
  flex-direction: column

.wrapper
  max-width: 1200px
  margin: 0 auto