.flex-center-both
  display: flex
  align-items: center
  justify-content: center

.flex-end
  display: flex
  align-items: center
  justify-content: flex-end

.flex-end-row
  display: flex
  align-items: flex-end
  justify-content: center
  flex-direction: column

.wrapper
  max-width: 1200px
  margin: 0 auto

.text-gradient
  background: linear-gradient(to bottom right, #2768cc, #56c3a5);
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent