.link {
  padding:0 2px 2px 2px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    color: $global-color.primary;
  }
  &.active {
    color: $global-color.primary;
    border-bottom: 1px solid $global-color.primary;
  }
}