/*!*********************************
 *COLOR
**********************************/
$global-color
  primary #cb4042
  secondary #080808
  base-black #333
  border-light #f2f2f2
  light-grey #fafafa
  border-grey #d9d9d9
  icon-grey #666

/*!*********************************
 *Z-INDEX
**********************************/
$global-z-index
  a 10
  b 100
  c 1000
  d 10000

/*!*********************************
 *SPACE SIZE
**********************************/
$global-space-base = 8px
$global-space
  a $global-space-base * 1
  b $global-space-base * 2
  c $global-space-base * 3
  e $global-space-base * 5
  f $global-space-base * 6
  g $global-space-base * 7
  h $global-space-base * 8
  i $global-space-base * 9
  j $global-space-base * 10

/*!*********************************
 *BREAK POINT
**********************************/
// based on this article decide the breakpoint
// http//getbootstrap.com/css/#grid-options
$global-width
  break-point-a 1200px
  break-point-b 992px
  break-point-c 768px

/*!*********************************
 *ANIMATION
************************************/
$global-animation-speed-base = .2s
$global-animation-speed
  a $global-animation-speed-base * 1
  b $global-animation-speed-base * 2
  c $global-animation-speed-base * 3

