$global-color: (
        border-light: #f2f2f2,
        light-grey: #fafafa,
        border-grey: #d9d9d9,
        icon-grey:#666,
);

$global-z-index: (
        a: 10,
        b: 100,
        c: 1000,
        d: 10000,
);