$bar-height = 44px

.main-header {
  width: 100%;
  z-index: $global-z-index.b;
  .wrapper {
    @extends .flex-end
    width: 100%;
    height: $bar-height;
  }
  .item {
    @extends .link
    + .item {
      margin-left: $global-space.a;
    }
  }
}

.main {
  min-height: calc(100% - 88px);
}

.wrapper {
  max-width: $global-width.break-point-a;
  margin: 0 auto;
  padding: 0 $global-space.a;
}

.main-footer {
  @extends .flex-center-both;
  width: 100%;
  height: $bar-height;
  color: #fff;
  font-size: 10px;
  background-color: $global-color.default-dark;
  span {
    padding-right: 4px;
    font-weight: bold;
  }
}

.image-list
  display: flex
  flex-wrap: wrap
  width: 100%
  .item
    position: relative
    cursor: pointer
    width: 33.3%
    overflow hidden
    .placeholder
      overflow: hidden
      transition: all $global-animation-speed.c ease-in-out
    .hover-cover
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      opacity: 0
      background-color: rgba(0, 0, 0, .6)
      transition: all $global-animation-speed.a ease-in-out
    &:hover
      .placeholder
        @extends .enlarge
      .hover-cover
        opacity: 1

@media (max-width: $global-width.break-point-b) {
  .image-list {
    .item {
      width: 100%;
    }
  }
}
