$bar-height = 44px

.main-header {
  width: 100%;
  z-index: $global-z-index.b;
  .wrapper {
    @extends .flex-end
    width: 100%;
    height: $bar-height;
  }
  .item {
    @extends .link
    + .item {
      margin-left: $global-space.a;
    }
  }
}

.main {
  min-height: calc(100% - 88px);
}

.wrapper {
  max-width: $global-width.break-point-a;
  margin: 0 auto;
  padding: 0 $global-space.a;
}

.main-footer {
  @extends .flex-center-both;
  width: 100%;
  height: $bar-height;
  color: #fff;
  font-size: 10px;
  background-color: $global-color.default-dark;
  span {
    padding-right: 4px;
    font-weight: bold;
  }
}

.detail {
  top: $global-space.a!important
  max-width: $global-width.break-point-a
  width: 100% !important
  padding: 0 $global-space.a!important
  .ant-modal-body {
    height: 84vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  button:last-child {
    display: none;
  }
}

.image-list
  display: flex
  flex-wrap: wrap
  width: 100%
  .item
    cursor: pointer
    width: 33.3%
    &:hover
     opacity 0

@media (max-width: $global-width.break-point-b) {
  .image-list {
    .item {
      width: 100%;
    }
  }
}
