.contact-container
  padding: $global-space.g* 3 0
  background-color: $global-color.base-black
  color: #fff
  .wrapper
    @extends .flex-center-both
  .item
    @extends .flex-center-both
    flex-direction: column
    width: 33.3%
    i
      font-size: 44px
      opacity .8
  .item-content
    a
      display: inline-block
      @extends .link-white
      padding-top: $global-space.b
    .download
      margin-right: -20px
      padding-left: $global-space.a
      padding-right: $global-space.b
      i
        font-size: 14px

@media (max-width: $global-width.break-point-c)
  .contact-container
    padding: $global-space.g* 2 0
    .wrapper
      flex-direction: column
    .item
      + .item
        padding-top: $global-space.g