.ant-modal.detail
  top: $global-space.a
  max-width: $global-width.break-point-a
  width: 100% !important
  padding: 0 $global-space.a
  .ant-modal-body
    height: 84vh
    overflow-y: auto
    -webkit-overflow-scrolling: touch
  button:last-child
    display: none

.detail-content
  .col-left
    width: 62.5%
  .item
    display: flex
    padding-bottom: $global-space.a
    &.link
      margin-top: -($global-space.a)
      padding-bottom: $global-space.e
  .item-label
    padding-right: $global-space.a
    font-weight: bold
    &::after
      content: ':'
  a
    font-weight: bold

  ul
    padding-left: $global-space.d
    li
      list-style: disc
    .ul-name
      padding-right: $global-space.a

  .detail-images
    max-width: 900px
    margin: 0 auto
    img
      + img
        margin-top: $global-space.b

.padding-r
  padding-right: $global-space.a

.padding-lr
  padding-left: $global-space.a
  padding-right: $global-space.a