.ant-modal.detail
  top: $global-space.a
  max-width: $global-width.break-point-a
  width: 100%!important
  padding: 0 $global-space.a
  .ant-modal-body
    height: 84vh
    overflow-y: auto
    -webkit-overflow-scrolling: touch

  .detail-images
    max-width: 375px
    margin: 0 auto
    img
     +img
      margin-top: $global-space.b
  button:last-child
    display: none