.skill-container
  padding: $global-space.g 0
  .wrapper
    @extends .flex-center-both
  .content
    + .content
      padding-left: $global-space.i
  .item
    + .item
      padding-top: $global-space.c
  .title
    padding-right: $global-space.a
  .score
    @extends .text-gradient
  .description
    font-size: 12px

@media (max-width: $global-width.break-point-c)
  .skill-container
    .wrapper
      flex-direction: column
    .content
      width 100%
      + .content
        padding-left: 0
        padding-top: 24px
