*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.65);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-text-size-adjust: 100%;
}

[lang]:lang(ja) {
  h1 {
    font-size: 64px;
    letter-spacing: 2px;
  }
}

[lang]:lang(en) {
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
}

[lang]:lang(zh) {
  body {
    font-family: 'SF Pro TC', 'SF Pro Text', 'SF Pro Icons', 'PingFang TC',
      'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-size: 32px;
}

p {
  text-align: justify;
  word-break: normal;
  margin-bottom: 0;
}

a {
  color: #2768cc;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
}

ul {
  margin-bottom: 0;
}

input,
button {
  outline: none;
}

#root {
  height: 100%;
}

.enlarge {
  transform: scale(1.2);
}

@keyframes start {
  0% {
    opacity: 0.8;
    bottom: 74px;
  }

  50% {
    opacity: 1;
    bottom: 64px;
  }

  100% {
    opacity: 0;
    bottom: 54px;
  }
}

// .fade-in {
//   opacity: 0;
//   transform: translate(0, 50px);
//   transition: opacity 0.6s 0.1s, transform 0.6s ease;
//   &.is-scoped {
//     opacity: 1;
//     transform: translate(0, 0);
//   }
// }

.icon {
  width: 20px;
  height: 20px;
}

.icon-arrow-down {
  background: url('../../images/icon/arrow-down.svg') center no-repeat;
  background-size: contain;
}

.icon-document {
  background: url('../../images/icon/document.svg') center no-repeat;
  background-size: contain;
}

.icon-email {
  background: url('../../images/icon/mail.svg') center no-repeat;
  background-size: contain;
}

.icon-resume {
  background: url('../../images/icon/resume.svg') center no-repeat;
  background-size: contain;
}

.link {
  padding: 0 2px 2px 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #2768cc;
  }
  &.active {
    color: #2768cc;
    border-bottom: 1px solid #2768cc;
  }
}

.link-black {
  color: #333;
  &:hover {
    color: #2768cc;
  }
}

.link-white {
  color: #ddd;
  &:hover {
    color: #fff;
  }
}

.text-gradient {
  background: linear-gradient(to bottom right, #2768cc, #56c3a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-container {
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 0 12px;
  }
}
