.header-container {
  position: relative;
  width: 100%;
  z-index: 99;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 44px;
  }
  .item {
    + .item {
      margin-left: 8px;
    }
  }
}
