.skill-container {
  padding: 64px 0;
  .content {
    + .content {
      padding-left: 64px;
    }
  }

  .item {
    + .item {
      padding-top: 24px;
    }
  }

  .title {
    padding-right: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .skill-container {
    .wrapper {
      flex-direction: column;
    }
    .content {
      width: 100%;
      + .content {
        padding-left: 0;
        padding-top: 24px;
      }
    }
  }
}
